.discription {
    background-color: #27292c;
    height: 600px;
    .discription-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__title{
            color: #fff;
            @include adaptiv-font(75, 50);
            text-align: center;

        }
        &__text-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__text {
            color: #fff;
            max-width: 500px;
            width: 48%;
            @include adaptiv-font(17.6, 14);
        }
        &__button {
            margin-top: 5%;
        }
    }
}