%flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-container {
    font-family: 'Montserrat';
    font-weight: lighter;
    @include adaptiv-font(23.7, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 250px;
    &__socials-block {
        @extend %flex;
        width: 50%;
    }
    &__title {
        font-weight: lighter;
        @include adaptiv-font(31.6, 24);
        margin-bottom: 2rem;
    }
    &__text {
        margin-top: 0;
        width: 80%;
    }
    &__list {
        padding-left: 0;
    }
    &__list-elem:not(:last-child) {
        margin-bottom: 1rem;
    }
    &__socials {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    &__socials-elem{
        width: 42px;
        &:not(:last-child) {
            margin-right: 8%;
        }
        img {
            color: #343434;
        }
    }
    &__block:not(:last-child) {
        margin-right: 1%;
    }
}

