.main {
    color: #222328;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 820px;
        margin-bottom: 7%;
        &__title {
            @include adaptiv-font(75, 50);
            text-align: center;
        }
        &__subtitle {
            text-align: center;
            @include adaptiv-font(27.06, 20);
            color: #2f3135;
        }
    }

    .menu-block {
        display: flex;
        justify-content: space-around;
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 25%;
            text-align: center;
        }
        &__title {
            @include adaptiv-font(29.168, 22);
            & h3 {
                margin: 0;
            }
        }
        &__subtitle {
            @include adaptiv-font(22.92, 18)
        }
    }
    .main-container__button {
        background-color: #343434;
        margin: 5% 0 5% 0;
        border: none;
    }

}