/*media query for screen size 1440px*/
@media (max-width: 1441px) {
  .header {
    .navbar {
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
    }
    &__block {
      background: none;
      justify-content: center;
    }
    &__text-part {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      text-align: center;
    }
  }
  .pizza {
    .pizza-container {
      img {
        right: 0;
      }
    }
  }
  .subscribe {
    img {
      left: 0;
    }
  }
}

/*media query for screen size 1024px*/
@media (max-width: 1025px) {
  .header {
    height: 1000px;
    &__block {
      background: none;
    }
    &__block {
      flex-direction: column;
      align-items: center;
      margin-top: -25px;
    }
    &__text-part {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      text-align: center;
    }
    .navbar__element:not(:last-child) {
      margin-right: 20px;
    }
  }

  .examples {
    .grid-container {
      row-gap: 50px;
      .example-container:first-child {
        flex-direction: column;
      }
      .example-container {
        padding-top: 5%;
        flex-direction: column-reverse;
        align-items: center;
        .example-block {
          padding-top: 0;
          align-self: center;
          align-items: center;
          text-align: center;
          &__title {
            text-align: center;
          }
        }
      }
    }
  }
  .pizza {
    .pizza-container {
      img {
        top: 0px;
      }
    }
  }
}

/*media query for screen sizes from 1024px to 1366px*/
// adaptive img
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .pizza {
    .pizza-container {
      img {
        top: -6%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pizza {
    .pizza-container {
      img {
        top: 10%;
      }
    }
  }
}

/*media query for screen size 768px*/
@media screen and (max-width: 769px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    .navbar {
      position: fixed;
      width: 100%;
      z-index: 99;
      top: 0;
      left: 0;
      &__list {
        padding-left: 0;
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #393c40;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &.active {
          top: 0;
          transition: all 0.5s ease 0s;
        }
      }
      .navbar__element {
        margin-right: 0;
        font-size: 30px;
        &:not(:last-child) {
          margin-top: 10px;
          margin-bottom: -10px;
        }
      }
    }
    .header-burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 100;
      margin: 20px 20px 0 0;
      &::after,
      &::before {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
      }
      &::after {
        bottom: 0;
      }
      &::before {
        top: 0;
      }
      & span {
        background-color: #fff;
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.5s ease 0s;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &.active span {
        transform: scale(0);
      }
    }
  }

  .examples {
    .example-container {
      .example-block__title {
        margin-top: 0;
      }
    }
  }
  .pizza {
    height: 790px;
    .pizza-block {
      height: 474px;
    }
    .pizza-container {
      img {
        display: none;
      }
      &__subtitle::after {
        top: 130%;
      }
    }
  }
  .subscribe-section {
    height: 700px;
    .subscribe {
      height: 550px;
    }
  }
  .footer-container {
    margin-bottom: 150px;
  }
}
