.discription {
    background-color: #27292c;
    height: 556px;
    .discription-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__title{
            color: #fff;
            font-size: 4.6875em;
            text-align: center;

        }
        &__text-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__text {
            color: #fff;
            max-width: 500px;
            width: 48%;
            font-size: 1.1em;
        }
        &__button {
            margin-top: 5%;
        }
    }
}