@import "../node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();

@import "_fonts.scss";


%active-focus {
  border: none;
  outline: none;
}

//mixin for responsive font implementation
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

* {
  box-sizing: border-box;
}

body {
  @include open-sans;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 45px 98px 0 98px;
}

.button {
  font-family: myriad-pro, serif;
  text-transform: uppercase;
  @include adaptiv-font(25, 18);
  padding: 8px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    @extend %active-focus;
  }
}

.button-more {
  max-width: 332px;
  width: 25%;
  max-height: 73px;
  height: 73px;
  border-radius: 35px;
  color: #fff;
  letter-spacing: 3px;
  @include adaptiv-font(23.136, 18);
  text-transform: uppercase;
  font-weight: bold;
  &:focus,
  &:active {
    @extend %active-focus;
  }
}

@import "_header.scss";
@import "_main.scss";
@import "_discription.scss";
@import "_example.scss";
@import "_pizza.scss";
@import "_specials.scss";
@import "_subscribe.scss";
@import "_footer.scss";

//media queries styles
@import "_media.scss";
