@import "../node_modules/normalize-scss/sass/_normalize.scss";
@include normalize();

%active-focus {
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}
.container {
  max-width: 1538px;
  margin: 0 auto;
  padding: 45px 98px 0 98px;
}

.button {
  font-family: myriad-pro, serif;
  text-transform: uppercase;
  font-size: 1.563rem;
  padding: 8px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    @extend %active-focus;
  }
}

.button-more {
  max-width: 332px;
  width: 25%;
  max-height: 73px;
  height: 73px;
  border-radius: 35px;
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.446em;
  text-transform: uppercase;
  font-weight: bold;
  &:focus,
  &:active {
    @extend %active-focus;
  }
}

@import "header_style";
@import "body_style";
@import "discription_style";
@import "example_style";
@import "pizza_style";
@import "specials_style";
@import "subscribe_style";
@import "footer_style";
@import "media_style";

