
.pizza {
    height: 1420px;
    overflow: hidden;
    .pizza-block {
        background-image: url("../img/Header Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #f8f6f1;
        margin-top: 150px;
        height: 1080px;
        position: relative;
    }
    .pizza-container {
        &__title {
            font-size: 3.645625em;
            text-align: center;
        }
        &__subtitle {
            font-size: $h3fzmain;
            text-align: center;
            width: 64%;
            margin: 0 auto;
            margin-top: 5%;
            font-family: 'montserrat regular';
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 160%;
                left: 40%;
                width: 20%;
                height: 10px;
                background-color: #fff;
            }
        }
        img {
            position: absolute;
            top: -15%;
            right: 272px;
        }
    }
}